{% extends 'DishDecoderApp/common.html' %}

{% block content %}


<hr>
<h1 class="display-6 text-center">Related ingredients</h1>
<hr>
{% if basicproducts %}
<div class="container">
    <div class="list-group">
        {% for basicproduct in basicproducts %}
        <a class="list-group-item list-group-item-action" href={% url 'basicproduct' basicproduct.id %}>{{basicproduct.name}}</a>
        {% endfor %}
    </div>
</div>
{% else %}
    <p id="Error_message">No Data Found</p>
{% endif %}

{% endblock %}