{% extends 'DishDecoderApp/common.html' %}

{% block content %}


<hr>
<h1 class="display-6 text-center">Create Your Recipe</h1>
<hr>

<p class="text-justify text-center">Aquest formulari i les seves funcionalitats encara no seran implementades en el primer lliurament. Gràcies.</p>

<!--
<div class="container">
    <div class="row">
        <div class="col-md-10 col-centered">
            <form>
                <div class="form-group">
                  <label for="exampleNameRecipe">Name of the recipe</label>
                  <input type="nameRecipe" class="form-control" id="exampleNameRecipe" aria-describedby="nameRecipeHelp" placeholder="Enter the name here.">
                </div>
                <div class="form-group">
                  <label for="exampleElaboration">Elaboration</label>
                  <textarea type="elaboration" class="form-control" id="exampleElaboration" rows='5' placeholder="Describe here all the steps that you require to do in order to make the recipe. Before a new step please add an '#' in order to make it visible. Thanks."></textarea>
                </div>
                


                <button type="submit" class="btn btn-primary">Publish</button>
            </form>
        </div>
    </div>
</div>
-->

{% endblock %}