{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Dish Decoder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        .col-centered {
            float: none;
            margin: 0 auto;
        }

        ul {
            list-style: none;
        }

        .container {
            margin-top: 10%;
        }

        .row {
            margin-top: 5%;
        }
    </style>

</head>

<body>

    {% include 'DishDecoderApp/navbar.html' %}
    <!--    <form action="" method="post">
        <div class="input-group mb-3">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                <option value="-1" selected>What do you want to search?</option>
                <option value="0">Recipes</option>
                <option value="1">Ingredients</option>
                <option value="2">Nutrients</option>
            </select>
            <input type="text" class="form-control" placeholder="" aria-label="Example text with two button addons">
            <button type="button" class="btn btn-primary btn-sm">Search</button>
        </div>
    </form>
    -->
    <!--    
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>-->

    <div class="container">
        <div class="row">
            <div class="col-md-5 col-centered">
                <div class="card card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field }}
                        {% endfor %}
                        <input type="submit" name="submit" value="Search" />
                    </form>
                </div>
            </div>
        </div>

        <div class="row">
            <a class="btn btn-primary col-centered" href="">Create Recipe</a>
        </div>

    </div>




</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</html>