{% extends 'DishDecoderApp/common.html' %}
{% block content %}

<!--
    Nom producte basic

    Descripcio 
    
    Llista receptes relacionades
    
-->

<hr>
<h1 class="display-6 text-center">Sodium</h1>
<!--<h1 class="display-6 text-center">{{nutrient.name}}</h1>-->
<hr>

<div class="container">
    <h1 class="display-6 text-center">Description</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ratione mollitia accusantium laborum ipsa iusto
        optio, dolor ab ducimus dolore eum ullam, animi et voluptatibus repellendus perferendis quas tenetur eius.</p>
</div>

<!--
<div class="container">
    <h1 class="display-6 text-center">Description</h1>
    <p>{{nutrient.description}}</p>
</div>

-->

<hr>
{% endblock %}