{%  extends 'DishDecoderApp/common.html' %}
{% block content %}
<html>
    <head>
        <title>Register</title>
    </head>
    <h3>Register</h3>

    <form method="POST" action="">
        {% csrf_token %}

        {{reg_form.username.label}}
        {{reg_form.username}}

        {{reg_form.email.label}}
        {{reg_form.email}}

        {{reg_form.password1.label}}
        {{reg_form.password1}}

        {{reg_form.password2.label}}
        {{reg_form.password2}}
        <input type="submit" name="Create User">
    </form>

    {{reg_form.errors}}
</html>
{% endblock %}