{% extends 'DishDecoderApp/common.html' %}

{% block content %}

<!--
    Perfil d'usuari

    Ultimes Receptes puntuades
        -Recepta amb puntuacio X
        -Recepta amb puntuacio Y
        Fins a 5 o algo aixi

    Canviar contrasenya
        -Nova contrasenya
        -Torna a repetir nova a contrasenya

    Canviar correu
        -Nou correu
-->

<hr>
<h1 class="display-6 text-center">User Profile</h1>
<h1 class="text-center text-muted">Profile</h1>
<!--<h1 class="text-center text-muted"><small>{{user.name}}</small></h1>-->
<hr>

<div class="container">
    <h2 class="text-center">Last scored recipes</h2>
    <hr>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Macarrones con tomatico by Perico</h5>
            <p class="card-text">Lorem ipsum abaco evocu memono triporito. Lorem ipsum abaco evocu memono triporito.</p>
            <a href="#" class="btn btn-primary">Go to the recipe</a>
            <button type="button" class="btn btn-primary btn-sm" disabled> 7 out of 10</button>
        </div>
    </div>
    <hr>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">Truita de patata by Webo</h5>
            <p class="card-text">Lorem ipsum abaco evocu memono triporito. Lorem ipsum abaco evocu memono triporito.</p>
            <a href="#" class="btn btn-primary">Go to the recipe</a>
            <button type="button" class="btn btn-primary btn-sm" disabled> 5 out of 10</button>
        </div>
    </div>
</div>
<!--
    <div class="container">
    <h2 class="text-center">Last scored recipes</h2>
    {% for scored_recipe in scored_recipes %}
    <hr>
    <div class="card w-75 mx-auto">
        <div class="card-body">
            <h5 class="card-title">{{scored_recipe.name}} by {{scored_recipe.author.name}}</h5>
            <p class="card-text">{{user_score.comment}}</p>
            <a href="{{scored_recipe.url}}" class="btn btn-primary">Go to the recipe</a>
            <button type="button" class="btn btn-primary btn-sm" disabled> {{scored_recipe.rating}} out of 10</button>
        </div>
    </div>
    <hr>
    {% endfor %}
</div>
-->

{% endblock %}