{% extends 'DishDecoderApp/common.html' %}
{% block content %}

<hr>
<h1 class="display-6 text-center" id="basic_product_name">{{basic_product.name}}</h1>
<hr>


<div class="container">
    <h1 class="display-6 text-center">Description</h1>
    <p>{{basic_product.desc}}</p>
</div>


<div class="container">
    <h1 class="display-6 text-center">Recipes that contain this basic product</h1>
    <div class="list-group" id="recipes">
        {% if recipes_products %}
        {% for recipe_product in recipes_products %}
        <a class="list-group-item list-group-item-action" href={% url 'recipe' recipe_product.id_recipe.id %}>{{recipe_product.id_recipe.name}}</a>
        {% endfor %}
    </div>
</div>
{% else %}
        <p id="Error_message">No Data Found</p>
{% endif %}
<hr>
{% endblock %}