{%  extends 'DishDecoderApp/common.html' %}
{% block content %}


<html>
    <head>
        <title>Log in</title>
    </head>
    <h3 style="text-align: center;">Log in</h3>

    <form style="text-align: center;" method="POST" action="">

        {% csrf_token %}
    <div style="margin-top: 100px; border-radius: 25px; padding: 20px;">
        <div class="text-center">
            <p><b>Username</b></p>
            {{auth_form.username}}
        </div>
        <div class="text-center">
        <p><b>Password</b></p>
        {{auth_form.password}}
        </div>
        <input style="margin-top: 10px" type="submit" name="Log in" id="submit-login">
    </div>
    </form>
    {% for message in messages %}
        <p id="Error_message">{{message}}</p>
    {% endfor %}
    <p class="text-center">If you are not Registered go click <a href="/register"> Here</a></p>
</html>
{% endblock %}