{%  extends 'DishDecoderApp/common.html' %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<html>
    <head>
        <title>Register</title>
    </head>
    <h3 style="text-align: center;">Register</h3>

    <form style="text-align: center;" method="POST" action="">
        <fieldset>
        {% csrf_token %}
    <div style="margin-top: 100px; border-radius: 25px; padding: 20px;">
        <div class="text-center">
            <p><b>Username</b></p>
            {{reg_form.username}}
        </div>
        <div class="text-center">
        <p><b>Email adress</b></p>
        {{reg_form.email}}
        </div>
        <div class="text-center">
        <p><b>Password</b></p>
        {{reg_form.password1}}
        </div>
        <div class="text-center">
        <p><b>Password confirmation</b></p>
        {{reg_form.password2}}
        </div>
        <input type="submit" name="Create User">
    </div>
    </form>
        {{reg_form.errors}}
    </fieldset>
</html>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}